<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoc.demoappshowcaseandroidkotlin">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoAppShowcaseAndroidKotlin">
        <activity
            android:name=".examples.universal_recycler_view.UniversalRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".examples.universal_scroll_view.UniversalScrollViewActivity"
            android:exported="false" />
        <activity
            android:name=".examples.interstitial.InterstitialActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>